<div class="container">
    <div class="row g-3">
        <div class="col-12">
            <div class="input-group autocomplete">
                <span class="input-group-text"><i class="oi oi-location"></i></span>
                <InputText @bind-Value="_selectedCityName" class="form-control filter" placeholder="Start typing a location..." @oninput="HandleInput"/>
                @if (_geoResponses is not null)
                {
                    <ul class="options">
                        @if (_geoResponses.Any())
                        {
                            @foreach (var city in _geoResponses)
                            {
                                <li class="option" @onclick=@(_ => SelectCity(city))>
                                    <span class="option-text">@city.Name, @city.Country</span>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="disabled option">No results</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="pt-4 my-md-5 pt-md-5 border-top">

        @if (_error)
        {
            <div class="col-md-7 col-lg-8">
                <div class="alert alert-danger" role="alert">
                    @ErrorMessage
                </div>
            </div>
        }
        @if (_loading)
        {
            <div class="col-md-7 col-lg-8">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        }
        else if (_selectedLocation is not null)
        {
            <WeatherDetail SelectedLocation="@_selectedLocation"/>
        }
    </div>
</div>