@if (_error)
{
    <div class="col-md-7 col-lg-8">
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    </div>
}
@if (_weather != null)
{
    <WeatherDetailTemplate Weather="@_weather" />
}
